@media screen and (max-width: 1200px){
    .swiper_container_card {
        overflow-x: visible;
    }
}

#catalog-list {
    overflow-x: visible;
}

.search-dialog hr {
    margin: 20px auto;
    display: none;
}

#algolia-search .search-dialog #algolia-hits {
    overflow-y: visible;
}

.author-content-item.game-yuanshen::after {
    -webkit-box-shadow:none;
    box-shadow: none;
}

.card-content-item .content-bottom .icon-group i {
    display: inline-block;
    width: 22px;
    height: 18px;
    margin-right: .5rem;
}

#aside-content .author-info__description {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}